/* td, th { padding: 0.2em 1em 0.2em 1em; }
table {
	margin: 1em 1em 1em 1em;
	background: #f9f9f9;
	border: 1px #aaaaaa solid;
	border-collapse: collapse;
}
table th,
table td {
	border: 1px #aaaaaa solid;
}
table th {
	background: #DDD;
	text-align: center;
}
table tr:nth-child(even) {
  background: #EEE;
} */
.chart {}
.main text { font: 10px sans-serif; }
.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}
circle, .axis { fill: steelblue; opacity:1 }
